body {
    background-color:#0f0f0f;
    font-family: 'Poppins', sans-serif;
    display:flex;
    font-size:1.25em;
    height:90vh;
    justify-content:center;
    align-items:center;
}
.foto {
    width:100%;
    max-width:18em;
    border-radius:15em;
    margin:0 auto;
    margin-bottom:2em   ;
    margin-top:2em;
    border:solid rgb(255, 255, 255) 0.3em;
    box-shadow: 0 0.1em 1.6em rgb(255, 255, 255);
}
.skibidi {
    color:white;
    text-align:center;
    margin:0;
}
.sigma {
    color:white;
    margin-top:0;
    text-align:center;
}
.container {
    background-color:rgb(47, 47, 47);
    border-radius:0.9375em;
    max-width:25em;
    height:auto;
    justify-content:center;
    padding:0.67em;
    transition: transform 0.2s ease;
    cursor:pointer;
    padding-left:1em;
    padding-right:1em;
    display:flex;
}
.parent {
    display:flex;
    gap:0.5em;
    flex-direction: column;
}
.container ul {
    display:flex;
    justify-content:center;
    flex-direction: column;
    padding:0;
    margin:0;
}
.container li {
    list-style:none;
    text-align:center;
}
.container:hover {
    transform:scale(1.1);
}
.container:active {
    transform: scale(1.1);
}
.container button {
    text-decoration:none;
    color:rgb(255, 255, 255);
    display: inline-block;
    margin:0;
    background:none;
    font-size:0.9375em;
    border-radius:0.1875em;
    padding:0.125em 0.3125em;
    border:none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: clamp(16px, 2vw, 24px);
}
.shin {
    width:9.375em;
    height:9.375em;
    border-radius:9.375em;
    margin-left:20%;
}
.container2 {
    background-color:rgb(47, 47, 47);
    margin-left:12%;
    margin-top:12%;
    border-radius:9.375em;
}
.container i {
    font-size:1.125em;
    color:white;
}
@media (max-width:30em) {
    .foto {
        width:15em;
        height:15em;
    }
    body {
        font-size:1em;
    }
    .container i {
        font-size:1em;
    }
}
